@model OHHP.ViewModels.RoomFormViewModel
@{
    ViewBag.Title = Model.Title;
  @*  Layout = "~/Views/Shared/_Layout.cshtml";*@
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Rooms"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(r=>r.Room.Name)
        @Html.TextBoxFor(r=>r.Room.Name, new{@class="form-control"})
        @Html.ValidationMessageFor(r=>r.Room.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Room.RoomTypeId)
        @Html.DropDownListFor(r => r.Room.RoomTypeId, 
            new SelectList(Model.RoomTypes, "Id", "Name"), "Select room type", 
            new {@class = "form-control"})
        @Html.ValidationMessageFor(r => r.Room.RoomTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Room.NumberOfBeds)
        @Html.TextBoxFor(r => r.Room.NumberOfBeds, new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.Room.NumberOfBeds)
    </div>
    @Html.HiddenFor(r=>r.Room.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}
